.footer {
   width: 100%;
   max-width: 1024px;
   font-size: 12px;
   margin-left: 250px;
   margin-right: 250px;
}

.footerLists {
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
}

.footerList {
   width: 100%;
   list-style: none;
   padding: 0;
}

.footerListItem {
   margin-bottom: 10px;
   color: #003580;
   cursor: pointer;
}